 #heading{
    text-align: center;
 }

 .calculator-base{
    border: 5px solid black;
    border-radius: 10px;
    background-color: grey;
    box-sizing: border-box;
    height: 430px;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
   
    

 }
 .bar{
    margin-left: 10px;
    margin-top: 25px;
    background-color: rgb(169, 170, 171);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    width: 320px;
    height: 95px;
    
    
    
 }

 .button-grid{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: 10px;
    width: 320px;
    height: 260px;
    gap: 10px;
    
 }
 .button{
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
   
 }
 .number-section{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 180px;
    gap: 10px;
    
 }
 .operation-section{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 40%;
    gap: 10px;
    flex-wrap: wrap;
 }

 .button-s{
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-direction: column;
    
 }

 button:hover, .button-s:hover {

   background-color: rgb(169, 170, 171);

 }

 button{
   box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: grey;
    cursor: pointer;
 }
.button-wide, .button-wide button{
   
   width: 170px;
}
 