 #heading{
    text-align: center;
 }

 .calculator-base{
    border: 5px solid black;
    border-radius: 10px;
    background-color: grey;
    box-sizing: border-box;
    height: 400px;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
   
    

 }
 .bar{
    margin-left: 10px;
    margin-top: 25px;
    background-color: rgb(169, 170, 171);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    width: 320px;
    height: 95px;
    
    
    
 }

 .button-grid{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
    width: 320px;
    height: 230px;
    
    
 }